{% extends 'app/sidebar.html' %}
{% load static %}

    {% block body_block %}
    <div class="container">

        <h2>Add Post</h2>
            <form action="{% url 'postupdate' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="postid" value="{{ postid }}">
                <div class="form-group">
                    <label for="fname">Title:</label>
                    <input type="text" class="form-control" id="fname" placeholder="Enter Title" name="title" value="{{ title }}">
                </div>
                <div class="form-group">
                    <label for="lname">Category:</label>
                    <input type="text" class="form-control" id="lname" placeholder="Category" name="category" value="{{ category }}">
                </div>
                
                <div class="form-group">
                    <label for="fname">Description:</label>
                    <!-- <input type="password" class="form-control" id="pwd_old" placeholder="Enter Old Password" name="pwd_old"> -->
                    <textarea id="txtArea" rows="10" cols="70" class="form-control" name="description">{{ description }}</textarea>
                </div>
                
                
                <button type="submit" class="btn btn-default form-wizard-button-disabled" id="demo">Submit</button>
                
            </form>
    </div>     

    {% endblock %}