{% extends 'app/sidebar.html' %}
{% load static %}

    {% block body_block %}
    <div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-5">
						<h2>All Projects <b></b></h2>
					</div>
					<div class="col-sm-7">
						<a href="{% url 'projectadd' %}?member=projects" class="btn btn-primary"><i class="material-icons">&#xE147;</i> 
                            <span>Add Projects</span>
                        </a>
                                                                <!-- <a href="#" class="btn btn-primary"><i class="material-icons">&#xE24D;</i> <span>Export to Excel</span></a> -->		
					</div>
                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <!-- <th>#</th> -->
                        <th>Projects</th>						
						<th>Start Date</th>
						<th>End Date</th>
						<th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for instance in obj_list %}
                    <tr>
                        <!-- <td>{{ user.id }}</td> -->
                        <td><a href="#"> {{ instance.name|upper }}</a></td>
                        <td>{{ instance.startdate }}</td>                        
                        <td>{{ instance.enddate }}</td>
						
						<td>
							<a href="{% url 'projectsave' %}?projectid={{ instance.id }}&member=projects" class="settings" title="Update" data-toggle="tooltip">
                                <i class="material-icons">&#xE8B8;</i>
                            </a>
							<a href="{% url 'projectdelete' %}?projectid={{ instance.id }}&member=projects" class="delete" title="Delete" data-toggle="tooltip">
                                <i class="material-icons">&#xE5C9;</i>
                            </a>
						</td>
                    </tr>
                    {% endfor %}
					
                </tbody>
            </table>
			<div class="clearfix">
                <!-- <div class="hint-text">Showing <b>5</b> out of <b>25</b> entries</div>
                <ul class="pagination">
                    <li class="page-item disabled"><a href="#">Previous</a></li>
                    <li class="page-item active"><a href="#" class="page-link">1</a></li>
                    <li class="page-item"><a href="#" class="page-link">2</a></li>
                    <li class="page-item"><a href="#" class="page-link">3</a></li>
                    <li class="page-item"><a href="#" class="page-link">4</a></li>
                    <li class="page-item"><a href="#" class="page-link">5</a></li>
                    <li class="page-item"><a href="#" class="page-link">Next</a></li>
                </ul> -->
            </div>
        </div>
    </div>     
    {% endblock %}

                                		                            