{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %} AskNed User Management {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.min.js"></script>

    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/user_managment.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/gacss.css' %}">

  </head>
  <body>
    
    <div class="sidebar">
      <a class="link users" href="{% url 'allusers' %}?member=users">Users</a>
      <a class='link posts' href="{% url 'userspost' %}?member=posts">Post</a>
      <a class='link employees' href="{% url 'empdata' %}?member=employees">Employee</a>
      <a class='link designations' href="{% url 'alldesignations' %}?member=designations">Designations</a>
      <a class='link projects' href="{% url 'allprojects' %}?member=projects">Projects</a>
      <a class='link departments' href="{% url 'alldepartments' %}?member=departments">Deparments</a>
      <a class='link fbdata' href="{% url 'fbdata' %}?member=fbdata">FB Pages</a>
      <a class='link fbads' href="{% url 'fbads' %}?member=fbads">FB Ads</a>
      <a class='link ganalytics' href="{% url 'ganalytics' %}?member=ganalytics">Google Analytics</a>
      <a class='link gadwords' href="{% url 'gadwords' %}?member=gadwords">Google AdWords</a>
      <a class='link linkedin' href="{% url 'linkedin' %}?member=linkedin">LinkedIn Data</a>

    </div>

    <div class="content">
      {% block body_block %}
      {% endblock %}
    </div>

    <script>
      // Add active class to the current button (highlight it)
      var xe=decodeURIComponent(window.location.search.replace(new RegExp("^(?:.*[&\\?]" + encodeURIComponent('member').replace(/[\.\+\*]/g, "\\$&") + "(?:\\=([^&]*))?)?.*$", "i"), "$1"));  
      console.log(xe);

      c=document.getElementsByClassName(xe);
      console.log(c[0]);
      c[0].classList.add("active");
      
    </script>

  </body>

</html>