{% extends 'app/sidebar.html' %}
{% load static %}

    {% block body_block %}
    <div class="container">

        <h2>Update Employee Details</h2>
            <form action="{% url 'empupdate' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="empid" value="{{ empid }}">
                <div class="form-group">
                    <label for="fname">Name:</label>
                    <input type="text" class="form-control" id="fname" placeholder="Enter Name" name="name" value="{{ name }}">
                </div>

                <div class="form-group">
                    <label for="lname">Department:</label>
                    <input type="text" class="form-control" id="lname" placeholder="Department" name="designation" value="{{ designation }}">
                </div>

                <div class="form-group">
                    <label for="lname">Age:</label>
                    <input type="text" class="form-control" id="lname" placeholder="Age" name="age" value="{{ age }}">
                </div>
                
                <div class="form-group">
                    <label for="lname">Salary:</label>
                    <input type="text" class="form-control" id="lname" placeholder="Salary" name="salary" value="{{ salary }}">
                </div>

                <div class="form-group">
                    <label for="lname">Department:</label>
                    <input type="text" class="form-control" id="lname" placeholder="Department" name="department" value="{{ department }}">
                </div>

                <div class="form-group">
                    <label for="lname">Project id:</label>
                    <input type="text" class="form-control" id="lname" placeholder="Project id" name="projectid" value="{{ projectid }}">
                </div>
                
                
                <button type="submit" class="btn btn-default form-wizard-button-disabled" id="demo">Submit</button>
                
            </form>
    </div>     
    {% endblock %}