{% extends 'app/sidebar.html' %}
{% load static %}

    {% block body_block %}
    <div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-5">
						<h2>AskNed <b>Users</b></h2>
					</div>
					<div class="col-sm-7">
						<a href="{% url 'signup' %}" class="btn btn-primary"><i class="material-icons">&#xE147;</i> 
                            <span>Add New User</span>
                        </a>
						<!-- <a href="#" class="btn btn-primary"><i class="material-icons">&#xE24D;</i> <span>Export to Excel</span></a>                 -->		
					</div>
                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <!-- <th>#</th> -->
                        <th>Name</th>						
						<th>Date Created</th>
						<th>Username</th>
                        <th>Status</th>
						<th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in object_list %}
                    <tr>
                        <!-- <td>{{ user.id }}</td> -->
                        <td><a href="#"> {{ user.first_name }}&nbsp{{ user.last_name }}</a></td>
                        <td>{{ user.date_joined }}</td>                        
                        <td>{{ user.username }}</td>
						<td>
                            {% if user.is_active  %}
                                <span class="status text-success">&bull;</span> Active
                            
                            {% else %}
                                <span class="status text-danger">&bull;</span> Inactive
                            {% endif %}
                        </td>
						<td>
							<a href="{% url 'updateusers' %}?userid={{ user.id }}" class="settings" title="Update" data-toggle="tooltip">
                                <i class="material-icons">&#xE8B8;</i>
                            </a>
							<a href="{% url 'deleteusers' username=user.username %}" class="delete" title="Delete" data-toggle="tooltip">
                                <i class="material-icons">&#xE5C9;</i>
                            </a>
						</td>
                    </tr>
                    {% endfor %}
					
                </tbody>
            </table>
			<div class="clearfix">
                <div class="hint-text">Showing <b>5</b> out of <b>25</b> entries</div>
                <ul class="pagination">
                    <li class="page-item disabled"><a href="#">Previous</a></li>
                    <li class="page-item"><a href="#" class="page-link">1</a></li>
                    <li class="page-item"><a href="#" class="page-link">2</a></li>
                    <li class="page-item active"><a href="#" class="page-link">3</a></li>
                    <li class="page-item"><a href="#" class="page-link">4</a></li>
                    <li class="page-item"><a href="#" class="page-link">5</a></li>
                    <li class="page-item"><a href="#" class="page-link">Next</a></li>
                </ul>
            </div>
        </div>
    </div>     
    {% endblock %}

    <script type="text/javascript">
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
    </script>
                                		                            